@model CaptchaManager.Models.SearchModel
@{
    ViewBag.Title = "Busqueda de Captchas";
}

<h2>Busqueda de Captchas</h2>

@using (Html.BeginForm()) {   
     @Html.EditorFor(model => model.SearchText)
     <input type="submit" value="Buscar" />
}


<table class="table table-striped">
    <thead>
        <tr>
            <td style="font-weight:bold">
                Imagen
            </td>

        </tr>
    </thead>
    <tbody>

@foreach(var item in Model.captchas){
        <tr>
            
            <td>
                 @Html.DisplayFor(modelItem => item.image)
            </td>


            <td>
                 <img src="@Url.Content("~/Images/"+ @Html.DisplayFor(modelItem => item.image))" width="200px" height="200px" alt="imgf"/>
            </td>
        </tr>   
}
    </tbody>
</table>