@model CaptchaManager.Models.CaptchaDisplay
@{
    ViewBag.Title = "autenticacion de captcha";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
    
</head>
<body>

    <h2>digite el captcha de la imagen</h2>
    <div>

         
            
            <img src="@Url.Content("~/Images/1.jpg")" width="500px" height="600px" alt="imgf"/>


    </div>
</body>
</html>

