@model CaptchaManager.Models.CaptchaDisplayModel
@{
    ViewBag.Title = "autenticacion de captcha";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Digite el Captcha</title>
</head>

<body>
      
    
    <div class="hero-unit">    
            <img align="center" src="@Url.Content("~/Images/"+@Html.DisplayFor(Model => Model.captchas.image))" width="500px" height="350px" alt="imgf"/>
     </div>

    <audio controls align="center">
  <source  src="@Url.Content("~/Images/"+@Html.DisplayFor(Model => Model.captchas.sound))" type="audio/wav">
  Your browser does not support the audio element.
    </audio>

         

    <div class="hero-unit"> 
        <h2>Digite el codigo Que Aparece en la imagen correctamente</h2>
        @using (Html.BeginForm("Validate", "CaptchaValidate", FormMethod.Post))
        {
              
              <input name ="userstring" id="userstring" type="text" />
              <input class="btn btn-primary btn-large" type="submit" value="Proceder" />
               
        }

    </div>

</body>
</html>

