@model CaptchaManager.Models.UserValidateModel
@{
    ViewBag.Title = "autenticacion de usuario";
}

<!DOCTYPE html>

<html>
<head>
    
    <title>View1</title>
    
</head>
<body>

    <h2>Digite la serial (si es usuario free de click en proceder)</h2>
    <div class="hero-unit">

        @using (Html.BeginForm()) {   
     @Html.EditorFor(model => model.SearchUser)
     <input class="btn btn-primary btn-large" type="submit" value="proceder" />
            
            
            
}

    </div>
</body>
</html>
