@{
    ViewBag.Title = "Página principal";
}
@section featured {
   
     <div class="hero-unit">   
    <img align="center" src="@Url.Content("~/Images/construction.png")" width="1000px" height="600px" alt="imgf"/>
        </div>  
            
}


