@{
    ViewBag.Title = "error";
}


<!DOCTYPE html>

<html>
<head>
    
    <title>error</title>
    
</head>
<body>

   <h2>Captcha errado el sistema le bloqueara para que no sature el servidor</h2>

    <div class="hero-unit">   
    <img align="center" src="@Url.Content("~/Images/bots.jpg")" width="1000px" height="600px" alt="imgf"/>
        </div>
   
</body>
</html>
