@{
    ViewBag.Title = "index";
}

<h2>index</h2>




<!DOCTYPE html>

<html>
<head>
    
    <title>Descarga</title>
    
</head>
<body>
    <div class="hero-unit">   
   <a href="Users/Josue R/Downloads/documento.pdf" download>Documento.pdf [119kb]</a>
   </div>
   

   
</body>
</html>
